[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/wujunze/LeaveIt.git
[submodule "themes/hugo-theme-geek"]
	path = themes/hugo-theme-geek
	url = https://github.com/wujunze/hugo-theme-geek.git
