// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

// 隐藏文字
.spoiler { 
  color: black; 
  background-color:black;
}
.spoiler:hover{
  color: white;
}

.post-warp .post-content img {
  max-width: 100%;
}

// 顶部阅读进度条
.top-scroll-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 0;
    height: 3px;
    background: #ef3982;
}